@import url('./general-style.css');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top:15%;
    background-color: white;
    border-radius: var(--border-radius);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:var(--box-shadow);

}



    .item {
        padding-bottom: 0.5rem;
    }

    input {
        width: 20rem;
        border-color: #ddd;
        border-radius: .1875rem;
        font-family: var(--font-family-light);
        height: 2rem;
        border-style: double;
    }

    .accountAction {
        background-color: var(--medium);
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }