:root{
    --dark:#03AED2;
    --light:#FEEFAD;
    --medium:#68D2E8;
    --font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-family-light:Arial, Helvetica, sans-serif;
    --box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --border:1px solid #82ccdd;
    --font-size: 18px;
    --border-radius: 8px;
}
*{
    font-family: var(--font-family);
    font-size:var(--font-size);
    
}

body{
    background-color: var(--light);
    margin:0;
}

header, footer {
    font-size:larger;
    border:var(--border);
    border-radius: var(--border-radius);
    box-shadow:var(--box-shadow);
    background-color:var(--dark);
    color:white;
    height: 3rem;
    padding-top:1rem;
}
header {
    margin-bottom:5px;
}
footer{
    text-align:end;
    bottom:0;
    position:fixed;
    width:100%;
}

button{
    margin-left:5rem;
    margin-right:5rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border:var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color:white;
    width:20rem;
}

a {
    text-decoration: none;
    color:black;
    font-family:var(--font-family-light);
}

.navtab {
    padding-right: 2rem;
    color: white;
    font-family: var(--font-family);
}
nav {
    display: flex;
    justify-content: flex-end;
}